@import url("https://fonts.googleapis.com/css?family=Inconsolata");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata";
  scroll-behavior: smooth;
}

:root {
  --primary-color: rgb(160, 241, 160);
  --primaryDim-color: rgb(140, 189, 140);
}

h1,
h2,
h3,
h4,
p,
a,
span {
  color: whitesmoke;
}

.pointer {
  cursor: pointer;
}

.dim {
  opacity: 0.3;
}
/* app styles */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100vw;
}

.main-container > p {
  font-size: 1.25rem;
  color: rgb(184, 184, 184);
}

/* //////////////// */
/* part 1 */
/* //////////////// */

#password {
  background-color: transparent;
  color: whitesmoke;
  font-size: 1.5rem;
}

.password-display,
.main-display {
  display: flex;
  width: 90%;
  padding: 1rem;
  margin-top: 1rem;
  background-color: rgb(40, 40, 40);
}

.password-display {
  justify-content: space-between;
}

/* //////////////// */
/* part 2 */
/* //////////////// */

.main-display {
  flex-direction: column;
}

.main-display > div {
  display: flex;
  justify-content: space-between;
}

#char-length {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.char-length-num {
  color: var(--primary-color);
}
#click-event-div {
  position: relative;
}

.hidden-text,
.visible {
  position: absolute;
  top: -2.5rem;
  right: -0.75rem;
}

.hidden-text {
  display: none;
}

.visible {
  opacity: 1;
}

#copy-icon {
  color: var(--primary-color);
}

/* input styles */

.input-container {
  margin: 1rem 0;
}

input {
  width: 80%;
  margin: auto;
}

input[type="range"] {
  height: 29px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;

  background: #3071a9;
  border-radius: 5px;
  border: 5px solid var(--primary-color);
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 2px whitesmoke;
  border: 1px solid whitesmoke;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #3071a9;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;

  background: #3071a9;
  border-radius: 5px;
  border: 5px solid var(--primary-color);
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 2px whitesmoke;
  border: 1px solid whitesmoke;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #3071a9;
  border: 5px solid var(--primary-color);
  border-radius: 10px;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 5px solid var(--primary-color);
  border-radius: 10px;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 2px whitesmoke;
  border: 1px solid whitesmoke;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #3071a9;
}

/* //////////////// */
/* part 3 */
/* //////////////// */
.bottom-display {
  display: flex;
  flex-direction: column;
}
/* icons */
.icon-container {
  width: 1.5rem;
  height: 1.5rem;
}

.passed,
.failed {
  width: 100%;
  height: 100%;
}

.passed {
  color: var(--primary-color);
}

.failed {
  color: red;
}

/* descriptions */

.include {
  margin: 0.5rem 0;
}

.include span {
  word-spacing: 10px;
  font-size: 1.35rem;
  text-transform: capitalize;
}

.row {
  display: flex;
  justify-content: start;
  align-items: center;
}

.include {
  margin-left: 2rem;
}

/* //////////////// */
/* part 4 */
/* //////////////// */

.strength-container {
  width: 100%;
  height: 2rem;

  display: flex;

  align-items: center;
  justify-content: space-between;
  background-color: rgb(23, 23, 23);
  color: whitesmoke;
}

.strength,
.bar-container {
  margin: 0 1rem;
  color: rgb(184, 184, 184);
}

.strength,
.medium-contianer,
.generate {
  text-transform: uppercase;
}

.medium-contianer {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.bar-container {
  display: flex;
  height: 100%;
}

.bars {
  height: 65%;
  width: 0.5rem;

  margin: auto 0.125rem;
}
/* add classes by selecting the DOM to pass requirements */

.filled {
  background-color: yellow;
}

.empty {
  border: solid 1px whitesmoke;
}

.bars:last-child {
  margin-right: 0.5rem;
}

.bars:first-child {
  margin-left: 1rem;
}

/* //////////////// */
/* part 5 */
/* //////////////// */

.generate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.25rem;
  margin-top: 1rem;
  background-color: var(--primary-color);
  transition: all 0.2s ease-out;
  color: black;
  border: none;
}

#arrow {
  margin: 0 1rem;
}

/* ////////////////////// */
/* footer styles */
/* ////////////////////// */

footer {
  margin: 2rem 0;
  color: rgb(184, 184, 184);
}

footer a {
  position: relative;
  text-decoration: none;
  text-align: center;
  margin-top: 2rem;
  color: rgb(184, 184, 184);
}

footer a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  border-radius: 4px;
  background-color: var(--primary-color);
  opacity: 0.7;
  bottom: 0;
  top: 20px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

footer a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* ////////////////// */
/* ! MEDIA QUERIES XS DEVICES */
/* ////////////////// */

@media (max-width: 380px) {
  .include span {
    word-spacing: 6px;
    font-size: 1.1rem;
  }

  .medium-contianer {
    font-size: 0.9rem;
  }
}
@media (max-width: 370px) {
  .medium-contianer,
  .strength,
  .bar-container {
    margin: 0 0.35rem;
    font-size: 0.85rem;
  }
}
@media (max-width: 330px) {
  .include span {
    word-spacing: 4px;
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {
  .medium-contianer,
  .strength,
  .bar-container {
    margin: 0 0.35rem;
    font-size: 0.75rem;
  }

  .include span {
    word-spacing: 4px;
    font-size: 0.8rem;
  }
}

@media (max-width: 300px) {
  .medium-contianer,
  .strength,
  .bar-container {
    margin: 0 0.1rem;
    font-size: 0.7rem;
  }

  .include span {
    word-spacing: 4px;
    font-size: 0.8rem;
  }
}

/* ////////////////// */
/* ! MEDIA QUERIES TABLET DEVICES */
/* ////////////////// */

@media (min-width: 550px) {
  .main-container {
    width: 80vw;
    margin: 2rem auto;
  }
}

/* ////////////////// */
/* ! MEDIA QUERIES DESKTOP DEVICES */
/* ////////////////// */

@media (min-width: 768px) {
  .medium-contianer,
  .strength,
  .include span {
    font-size: 1.35rem;
  }
}

@media (min-width: 900px) {
  .main-container {
    width: 50vw;
    margin: 2rem auto;
  }

  .strength-container {
    height: 2rem;
  }
}

@media (min-width: 1700px) {
  .main-container {
    width: 25vw;
    margin: 50rem auto;
    transform: scale(2);
  }
}
